.ant-modal-content {
  background-color: #131313 !important;
  color: white;
}

.ant-modal-close-x {
  color: white !important;
}

.formItem {
  transition: all 0.3s;
}

.formItem input {
  font-size: 16px;
  font-weight: lighter;
  color: white;
  padding: 16px;
  width: 100%;
  background-color: #131313;
  border: 2px solid gray;
  outline: none;
  border-radius: 5px;
  margin-top: 5px;
}

.formItem input:hover {
  border: 2px solid white;
}

.formItem input:focus {
  border: 2px solid green;
}

.formButtons {
  display: flex;
  flex-direction: column;
}
