@media screen and (min-width: 320px) {
  .personPage__header {
    flex-direction: column;
  }

  .personPage__header--img {
    padding: 60px;
  }
}

@media screen and (min-width: 768px) {
  .personPage__header {
    flex-direction: row;
  }
}
