.detailsPage__backdrop--faded {
  height: 65vh;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(60, 60, 60, 0.61),
    #000000
  );
}

.detailsPage__button {
  opacity: 0.75;
  transition: all 0.3s;
  margin-right: 15px;
}

.detailsPage__button:hover {
  background: white;
  color: black;
  opacity: 1;
}

.container {
  max-width: 1366px;
}

.detailsPage__castImage {
  padding-top: 15%;
  padding-bottom: 15%;
}

@media screen and (min-width: 320px) {
  .detailsPage__casts {
    width: 275px;
  }

  .detailsPage__header {
    flex-direction: column;
  }

  .detailsPage__castImage {
    padding-top: 30%;
    padding-bottom: 30%;
  }
}
@media screen and (min-width: 375px) {
  .detailsPage__casts {
    width: 305px;
  }

  .detailsPage__header {
    flex-direction: column;
  }
}

@media screen and (min-width: 425px) {
  .detailsPage__casts {
    width: 380px;
  }

  .detailsPage__header {
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .detailsPage__casts {
    width: 700px;
  }
}

@media screen and (min-width: 1024px) {
  .detailsPage__casts {
    width: 375px;
  }

  .detailsPage__castImage {
    padding-top: 20%;
    padding-bottom: 20%;
  }
}

@media screen and (min-width: 1280px) {
  .detailsPage__casts {
    width: 600px;
  }

  .detailsPage__castImage {
    padding-top: 17%;
    padding-bottom: 17%;
  }
}

@media screen and (min-width: 1441px) {
  .detailsPage__casts {
    width: 740px;
  }
}
