.banner__backdrop--faded {
  height: 100vh;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(42, 42, 42, 0.61),
    #000000
  );
}

@media screen and (min-width: 320px) {
  .banner__backdrop--faded {
    height: 90vh;
  }
}

@media screen and (min-width: 375px) {
  .banner__backdrop--faded {
    height: 75vh;
  }
}

@media screen and (min-width: 425px) {
  .banner__backdrop--faded {
    height: 85vh;
  }
}

@media screen and (min-width: 768px) {
  .banner__backdrop--faded {
    height: 90vh;
  }
}

@media screen and (min-width: 1024px) {
  .banner__backdrop--faded {
    height: 95vh;
  }
}

@media screen and (min-width: 1440px) {
  .banner__backdrop--faded {
    height: 100vh;
  }
}
