.card__poster--faded {
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
  opacity: 0;
  transition: ease-in-out 0.3s;
}

.card__poster--faded:hover {
  opacity: 1;
}

@media screen and (min-width: 320px) {
  .card__poster--faded {
    opacity: 1;
  }
}

@media screen and (min-width: 425px) {
  .card__poster--faded {
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .card__poster--faded {
    opacity: 0;
  }
}
