.nav__button {
  border: none;
  color: white;
  background-color: transparent;
  font-size: 14px;
  margin: 0 10px;
  padding: 12px;
  transition: all 0.3s;
  border-radius: 5px;
}

.nav__button:hover {
  background: red;
  cursor: pointer;
}

.nav__button.active {
  background-color: red;
}

.nav .nav__userName {
  color: white;
}

.nav__userName:hover {
  cursor: pointer;
}

.mobile__menu {
  color: red;
}
