.previousComments_box {
}

.previousComments_box:hover {
  background-color: rgb(58, 58, 58);
}

.previousComments_contents {
  margin-left: 15px;
}

.previousComments_userAvatar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  background-color: blue;
}
