.ant-dropdown-link {
  color: white;
  font-size: 26px;
}

.ant-dropdown .ant-dropdown-menu {
  background-color: #131313;
}

.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item {
  font-size: 16px;
  color: white;
}

.ant-modal-body h3 {
  font-size: 30px;
  text-align: center;
}

.stretched {
  width: 100%;
}
